[submodule "frame-server/SimpleBLE"]
	path = frame-server/SimpleBLE
	url = https://github.com/OpenBluetoothToolbox/SimpleBLE
[submodule "godot/godot-zig"]
	path = godot/godot-zig
	url = https://github.com/godot-zig/godot-zig.git
